*{
   margin:0;
    padding:0;
    box-sizing: border-box;
}



body{
    color:dimgrey;
    background-color:antiquewhite;
}

mark{
    background-color:#968fc3;
    color:dimgrey;
    font-size:120%;
}

h1 {
    text-align: center;
    margin-top:80px;
    margin-bottom: 80px;
}

p {
    text-align: justify;
}


img{
    padding-bottom: 10px;
}


/*HEAD*/
.head {
    background-color: #968fc3;
    width:auto;
    height: 171px;
}
#logo {
    float:left;
}

#date {
    text-align: center;
    padding-top: 85px;
    font-size:30px;
}
.flash {
   animation-name: flash;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

@keyframes flash {
    from {color: whitesmoke;}
    to {color: black;}
}


/*BODY*/

.creme{
    display: inline-block;
    height: 500px;
    width: auto;
    
}
.promo1{
    width:510px;
    height: 250px;
    border: solid;
    border-radius: 15px 50px;
    margin:80px 500px 20px 20px;
    padding:15px;
    text-align: center;
    
}
.circle {
    margin: 20px;
    width: 150px;
    background-color: #968fc3;
    height: 150px;
    text-align: center;
    border-radius: 100px;
    line-height: 50px;
    font-size: 30px;
    
}
.circle multi-line{
    line-height: 15px;
    height:70px;
    padding-top: 80px;
}


.promo2{
    width:510px;
    height: 200px;
    border: solid;
    border-radius: 50px 15px;
    margin:80px 20px 20px 500px;
    padding:15px;
    text-align: center;
}
.gratuit{
    width:auto;
    height: 100%; 
    border: solid;
    border-radius: 50px 50px;
    margin:100px 100px 40px 100px;
}

.gratuit p {
    padding:15px;
    text-align: center;
}
.photo {
    padding-top: 20px;
    width:400px;
}

.photogratuit {
   /* padding-left: 30px; */
    text-align: center;
}



/*FOOTER*/
.contact {
    display: block;
    width:auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    } 
.contact p {
   text-align: center; 
    margin-right: 100px;
    margin-bottom: 20px;
}
.reseauxsociaux {
    display: inline-block;
    width: 1600px;
    margin-left: 850px;
}

.reseauxsociaux img {
    
    width: 60px;
    height: 60px;
    
}









